<form class="" ng-submit="save()" novalidate>



    <section class="form-group clearfix">

        <div class="field col-sm-6 clearfix">
            <label class="lbl lbl--company-name" for="company-name">Company Name {{jobData.JobInfo_Id}}</label>
            <input id="company-name" class="txt--edit-job txt--company-name" type="text"
                ng-model="jobData.CompanyName" ng-required="true">
        </div>

        <div class="field col-sm-6 clearfix">
            <label class="lbl lbl--job-title" for="job-title">Job Title</label>
            <input id="job-title" class="txt--edit-job txt--job-title" type="text"
                ng-model="jobData.Job_Title" ng-required="true">
        </div>

        <div class="field col-sm-12 clearfix">
            <label class="lbl lbl--company-site" for="company-site">Company Website</label>
            <input id="company-site" class="txt--edit-job txt--company-site" type="text"
                ng-model="jobData.CompanySite">
        </div>

    </section>



    <section class="form-group clearfix">

        <div class="field col-sm-4 clearfix">
            <label class="lbl lbl--company-address" for="company-address">Company address</label>
            <input id="company-address" class="txt--edit-job txt--company-address" type="text"
                ng-model="jobData.Company_Address">
        </div>

        <div class="field col-sm-4 clearfix">
            <label class="lbl lbl--travel-time" for="travel-time">Travel time</label>
            <input id="travel-time" class="txt--edit-job txt--travel-time" type="number"
                ng-model="jobData.TravelTime">
        </div>

        <div class="field col-sm-4 clearfix">
            <label class="lbl lbl--date-applied" for="date-applied">Date applied</label>
            <input id="date-applied" class="txt--edit-job txt--date-applied" type="date"
                ng-model="jobData.DateApplied">
        </div>


        <div class="field col-sm-6 clearfix">
            <label class="lbl lbl--job-rating" for="job-rating">Job rating</label>
            <input id="job-rating" class="txt--edit-job txt--job-rating" type="number"
                ng-model="jobData.Job_Rating">
        </div>

        <div class="field col-sm-6 clearfix">
            <label class="lbl lbl--status" for="status">Job Status</label>
            <select id="status" class="txt--edit-job txt--status" type="text"
                ng-model="jobData.JobStatus_Name">
                <!-- ng-repeat this -->
                <option value="Applied">Applied</option>
                <option value="Interviewing">Interviewing</option>
                <option value="Offered">Offered</option>
            </select>
        </div>

    </section>



    <section class="form-group clearfix">

        <div class="col-sm-12">
            <div class="field clearfix">
                <label class="lbl lbl--descrip-notes" for="descrip-notes">Job Description Notes</label>
                <textarea id="descrip-notes" class="txt--edit-job txt--descrip-notes"
                    ng-model="jobData.JobDescrip_Notes"></textarea>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="field clearfix">
                <label class="lbl lbl--company-notes" for="company-notes">Company Notes</label>
                <textarea id="company-notes" class="txt--edit-job txt--company-notes"
                    ng-model="jobData.Company_Notes"></textarea>
            </div>
        </div>

        <div class="field col-sm-12 clearfix">
            <input class="[ btn btn--cancel ]   [ pull-right col-sm-offset-1 col-sm-2 ]" type="button" value="Cancel"
                ng-click="cancel(); $event.stopPropagation();">
            <input class="[ btn btn--submit btn--save ]   [ pull-right col-sm-2 ]" type="submit" value="Save"
                ng-click="$event.stopPropagation();">
        </div>

    </section>



</form>