<header class="col-sm-9">

    <div class="job__head clearfix">
        <h2 class="job__name"><a target="_blank" href="{{jobData.CompanySite}}">{{jobData.CompanyName}}</a></h2>
        <h3 class="job__title">{{jobData.Job_Title}}</h3>
    </div>

    <div class="job__links">

        <a target="_blank" href="{{jobData.Source_Link}}">{{jobData.Source}}</a>
    </div>

    <div class="job__info">
        <div class="job__address">{{jobData.Company_Address}} <span class="travel-time">({{jobData.TravelTime}} minute drive)</span></div>
        <div class="date-applied">{{jobData.DateApplied | date: 'MM/dd/yyyy'}} <span class="time-passed">({{jobData.TimePassed + '' + jobData.TimePassedLabel}})</span></div>
    </div>
</header>

<aside class="col-sm-3">
    <div class="job__rating {{ratingClass}}">
        <i class="fa fa-star" ng-repeat="num in numArray(jobData.Job_Rating) track by $index"></i>
        <i class="fa fa-star-o" ng-repeat="num in numArray(10 - jobData.Job_Rating) track by $index"></i>
    </div>
</aside>

<div class="job__notes col-sm-12">

    <div class="notes">
        <h4>Job Description Notes</h4>
        <pre ng-click="$event.stopPropagation()">{{jobData.JobDescrip_Notes}}</pre>
    </div>

    <div class="notes">
        <h4>Company Notes</h4>
        <pre ng-click="$event.stopPropagation()">{{jobData.Company_Notes}}</pre>
    </div>

    <input class="btn btn--delete [ pull-left col-sm-2 ]" type="button" value="Delete"
        ng-click="delete(); $event.stopPropagation();">

    <input class="btn btn--edit [ pull-right col-sm-2 ]" type="button" value="Edit"
        ng-click="switchMode('job--edit'); $event.stopPropagation();">

</div>