// @Author: David G Chung
// @Date:   2016-02-01 11:58

@import url('http://fonts.googleapis.com/css?family=Roboto');

/*====================================*\
    #General
\*====================================*/

body
{
    color: $darkGrey;
    background-color: $grey;
    font-family: 'Roboto', sans-serif;
};



.highlight { color: $green; }



/*====================================*\
    #Headings
\*====================================*/

#{headings()}
{
}