// @Author: David G Chung
// @Date:   2016-02-01 11:58

/*====================================*\
    #Form Elements
\*====================================*/

.txt
{
    border: none;
    outline: none;

    border-bottom: 2px solid $secondary;

    background-color: transparent;
}

.lbl
{
    text-transform: uppercase;
    font-size: 1.13em;
    opacity: 0.8;
    @include transition(all, 0.2s, ease-in);
}

.btn
{
    padding: 0.4em 0;

    color: $white;
    background-color: $secondary;
    @include border-radius(0px);


    &:hover, &:active, &:focus { opacity: 1; color: $white;}

    &--submit { background-color: $primary; }
}

.chk:checked + .lbl
{
    color: $primary;
}



/*====================================*\
    #Fields
\*====================================*/

.field
{
    position: relative;
    margin: 0.3em 0;

    .txt
    {
        margin: 1.3em 0 0;


        //Styling for  Active .field
        &:active, &:focus, &.ng-not-empty
        {
            border-bottom: 2px solid $primary;

            & ~ .lbl
            {
                color: $primary;
                top: 0;
                font-size: 0.9em;
                opacity: 1;
            }
        }


        //Styling for Invalid field
        &.ng-touched.ng-dirty.ng-invalid
        {
            border: none;
            border-bottom: 2px solid red;

            & ~ .lbl
            {
                color: $error;
                top: 0;
                font-size: 0.9em;
                opacity: 1;
            }

        }
    }


    //Basic label postioning
    .txt + .lbl
    {
        position: absolute;
        top: 1em;
        left: 15px;
    }
}





/*====================================*\
    #Bottom Nav
\*====================================*/

.bottom-nav
{
    margin: 0.5em 0;

    a
    {
        display: block;
        margin: 0;

        clear: right;
        float: right;
    }
}





/*====================================*\
    #Error List
\*====================================*/

.error-list
{
    border: 2px solid $error;
    color: $error;
    background-color: rgba(255, 0, 0, 0.2);
}