// @Author: David G Chung
// @Date:   2016-02-01 11:58


//Base colors
$white: #fbfbfb;


//Color Scheme
$background: darken(#c8c8c8, 15%);
$primary: #F49814;
$secondary: #333333;

$error: darken(red, 15%);