/*
* @Author: David
* @Date:   2016-02-23 11:42:29
* @Last Modified by:   David
* @Last Modified time: 2016-02-25 20:25:34
*/

/*====================================*\
    #EditJob
\*====================================*/

.edit-job
{}



/*====================================*\
    #Edit Form
\*====================================*/

.form-group
{
    margin-bottom: 1.4em;
    padding-top:   1.4em;


    & + &
    {
        border-top: 1px dashed darken($white, 10%);
    }
}


// Field Vertical Spacing
.edit-job .field
{
    padding-top:    0.6em;
    padding-bottom: 0.6em;
}



// textbox styling
.txt--edit-job
{
    display: block;
    outline: none;

    border: none;
    border-bottom: 1px solid $primary;

    width: 100%;
    min-height: 26px;

    background-color: darken($white, 5%);
}


.btn--save
{
    margin-right: 0.4em;
}