<div class="nav-group"
    ng-class="{ 'nav-group--active': isActive, 'nav-group--expanded': item.isExpanded }"
    cc-drop ondrop="changeStatus(ccDrop.transfer, item.Id, item.statusName)">


    <a class="main-link" href="#{{item.href}}">
        <span>{{ item.text }}</span>
        <span ng-show="item.count">({{ item.count }})</span>
        <i class="fa"
            ng-show="item.isExpanded != null"
            ng-class="{ 'fa-caret-down': !item.isExpanded, 'fa-angle-up': item.isExpanded }"
            ng-click="toggleExpand(item); $event.preventDefault();"></i>
    </a>

    <nav class="subnav" ng-show="item.isExpanded">
        <a class="sub-link" href="#/MultiJob/{{item.statusName}}/{{job.CompanyName}}"
            cc-drag cc-drag-data="job"
            ng-repeat="job in item.jobs">{{job.CompanyName}}</a>
    </nav>

</div>