// @Author: David G Chung
// @Date:   2016-02-03 11:10

/*====================================*\
    #Sign Up
\*====================================*/

.sign-up
{
    margin-top: 8em;


    .txt
    {
        width: 100%;
    }

    .btn--submit { width: 100%; }
}