<section class="forgot-pass col-sm-4 col-sm-offset-4">


    <h1><span class="highlight">Career</span>Clue</h1>


    <form class="forgot-pass__form row" ng-submit="sendEmail()" novalidate>
        <div class="field col-sm-12 clearfix">
            <input id="email" class="txt txt--email" type="email"
                ng-model="email" ng-required="true">
            <label class="lbl lbl--email" for="email">Email address</label>
        </div>

        <div class="field col-sm-12 clearfix">
            <input class="btn btn--send btn--submit col-sm-12" value="Send Email" type="submit">
        </div>
    </form>

    <div ng-show="sent" class="success-mess">An emial has been sent to your account</div>

    <nav class="bottom-nav clearfix">
        <a href="#/SignIn">Already have and accout?</a>
    </nav>

</section>