<section class="multi-job">

    <side-bar></side-bar>

    <div class="multi-job__body body col-sm-offset-1 col-sm-7">



        <section class="job row" ng-repeat="num in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a> |
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="job__rating">8</div>
            </div>

        </section>



    </div>

</section>