// @Author: David G Chung
// @Date:   2016-02-04 9:01

/*====================================*\
    #MultiJob
\*====================================*/

.multi-job
{}





/*====================================*\
    #Search Form
\*====================================*/

.frm--search
{
    margin-top: 0.3em;
    margin-bottom: 1em;
    position: relative;

    vertical-align: bottom;
}


    .field .fa
    {
        opacity: 0.7;

        position: absolute;
        right: 1.5em;
        top: 50%;

        @include translate(0, -50%);


        &-times
        {
            cursor: pointer;
        }
    }

    /*-----------------------------------*\
        #Add button
    \*-----------------------------------*/

    .add-job
    {
        padding-left: 20px;
        padding-right: 10px;

        display: inline-block;
        text-align: center;

        opacity: 0.7;
        cursor: pointer;

        @include translate(0, 66%);

        &:hover { color: $primary; }
    }





/*====================================*\
    #Job
\*====================================*/

.job-list
{
    padding: 0;
}