<section class="multi-job">

    <side-bar></side-bar>

    <div class="multi-job__body col-sm-offset-1 col-sm-7">



        <section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section>

<section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section><section class="job row">

            <div class="col-sm-9">

                <header class="job__head clearfix">
                    <h2 class="company-name">CompanyName</h2>
                    <h3 class="company-title">Company Title</h3>
                </header>

                <div class="job__links">
                    <a href="#">CompnanySite</a>
                    <a href="#">Source: indeed.com</a>
                </div>

                <div class="job__info">
                    <div class="company-location">Company Location <span class="travel-time">(TravelTime)</span></div>
                    <div class="date-applied">2/4/2016 - <span class="time-passed">(3 weeks)</span></div>
                </div>
            </div>

            <div class="col-sm-3 row">
                <div class="controls">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-eye"></i>
                </div>
                <div class="job__rating">8</div>
            </div>

        </section>

    </div>

</section>