<section class="multi-job">

    <side-bar></side-bar>

    <div class="multi-job__body body col-sm-offset-1 col-sm-7">

        <form class="frm frm--search row" ng-submit="">

            <i class="add-job col-xs-1 fa fa-plus fa-2x" ng-click="createJob()"></i>

            <div class="field col-xs-11">
                <input class="txt txt--search" type="search">
                <label class="lbl lbl--search" for="">Search</label>
            </div>

        </form>



        <ul class="job-list row">
            <job ng-repeat="job in jobs"></job>
        </ul>



    </div>

</section>