// @Author: David G Chung
// @Date:   2016-02-04 9:01

/*====================================*\
    #MultiJob
\*====================================*/

.multi-job
{}



/*====================================*\
    #Search Form
\*====================================*/

.frm--search
{
    margin-top: 0.3em;
    margin-bottom: 1em;
    position: relative;



    .field:after
    {
        font-family: "fontAwesome";
        content: "\f002";

        opacity: 0.7;

        position: absolute;
        right: 1.5em;
        top: 50%;

        @include translate(0, -50%);
    }
}




/*====================================*\
    #Job
\*====================================*/

.job-list
{
    padding: 0;
}

// .job
// {
//     margin: 0;
//     padding: 1.5em 0;

//     cursor: pointer;
//     list-style-type: none;




//     &:hover
//     {
//         background-color: darken($white, 6%)
//     }

//     &
//     {
//         border-top: 1px solid darken($white, 10%);
//     }



//     /*-------------------------------------*\
//         #Job Header
//     \*-------------------------------------*/

//     &__head
//     {
//         color: $primary;
//         margin: 0;
//     }

//     &__name, &__title
//     {
//         float: left;
//         margin: 0 0;
//     }

//     &__title
//     {
//         margin: 0.22em 0 0 0.5em;
//         color: $secondary;
//         font-style: italic;
//     }



//     /*-------------------------------------*\
//         #Job Controls
//     \*-------------------------------------*/

//     &__controls
//     {
//         opacity: 0.8;
//         font-size: 1.4em;

//         .fa
//         {
//             display: inline-block;
//             margin: 0 0.6em;
//             cursor: pointer;
//             @include transition(all, 0.2s, linear);

//             &:hover
//             {
//                 opacity: 1;
//                 color: $primary;
//                 // text-shadow: 0 0 3px darken($primary, 20%);
//             }
//         }
//     }



//     /*-------------------------------------*\
//         #Job Rateing
//     \*-------------------------------------*/

//     &__rating
//     {
//         padding: 0.2em;
//         text-align: center;
//         font-size: 3em;
//         font-weight: bold;
//         background-color: $primary;
//         @include border-radius(4px);
//     }



//     /*-------------------------------------*\
//         #Job Notes
//     \*-------------------------------------*/

//     &__notes
//     {
//         overflow: hidden;
//         margin-top: 0;
//         max-height: 0;
//         @include transition(all, 0.7s, ease-in);
//     }

// }



// .job--expand
// {
//     .job__notes
//     {
//         margin-top: 2em;
//         max-height: 100vh;
//     }
// }