// @Author: David G Chung
// @Date:   2016-02-01 11:58

/*====================================*\
    #Sign In
\*====================================*/

.sign-in
{
    margin-top: 8em;
    padding-bottom: 1.8em;



    .txt
    {
        &--username, &--password
        {
            width: 100%;
        }
    }

    .btn
    {
        &--signup, &--signin
        {
            width: 49%;
        }
    }

}





/*====================================*\
    #Social Media
\*====================================*/

.social-media-signin
{
    .btn
    {
        display: block;
        margin: 0.3em 0;

        width: 100%;
    }
}